@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style  */
.section-title {
  font-size: 3rem;
  margin: 0;
}
main,
footer {
  width: 55%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.center {
  margin: 0 auto;
}
.white {
  color: white;
}
.white1 {
  color: rgba(255, 255, 255, 0.5);
}
body {
  margin: 0 auto;
  background-color: black;
}
.btn-primary {
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  margin-right: 14px;
  cursor: pointer;
}
.btn-secondary {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  background-color: black;
  cursor: pointer;
}
section {
  margin-bottom: 100px;
}
.flex {
  display: flex;
}
.dark02 {
  color: rgba(255, 255, 255, 0.5);
}
.full-bleed {
  box-shadow: 0 0 0 100vmax rgb(34, 34, 34);
  clip-path: inset(0 -100vmax);
}
/* Header section  */
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
.navbar {
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 auto;
  align-items: center;
}
.brand {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
.navbar .link-item {
  list-style: none;
  margin-right: 47px;
}
.navbar .link {
  text-decoration: none;
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  line-height: 120%;
  padding: 8px 20px;
}
.navbar .link:hover {
  border-radius: 46px;

  background: rgb(230, 83, 60);
}
/* banner  */
.banner {
  max-width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}
.banner-content {
  max-width: 520px;
}

.banner-content .banner-title,
.video {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  margin-top: 96px;
  margin-bottom: 0px;
}
.banner-content .banner-title .special {
  font-style: italic;
}
.banner .banner-img-container {
  width: 450px;
  height: 580px;
  background-image: url("../images/Images\ 2.png");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;

  flex-direction: row-reverse;
}
.banner-content .banner-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  margin: 28px 0;
}
.banner .hilight {
  color: rgb(255, 255, 255);
  width: 193px;
  height: 98px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: relative;
  top: 150px;
  left: 50px;
  backdrop-filter: blur(10px);
}
.banner .hilight h3 {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  padding: 17px 53px 5px 30px;
  margin: 0;
}
.banner .hilight p {
  margin: 0;
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 0.89rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding-left: 30px;
}
.banner .lowlight {
  position: relative;
  top: 400px;
  right: 110px;
  width: 200px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  align-items: center;
  gap: 15px;
  backdrop-filter: blur(10px);
}
.banner .lowlight i {
  color: rgb(230, 83, 60);
  font-size: 30px;
  margin: auto 0;
  padding-left: 25px;
}
.banner .lowlight .title h3 {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 0;
}
.banner .lowlight .title p {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
}
/* habit */
main .habit .section-info {
  width: 63%;
  margin: 0 auto;
  margin-bottom: 80px;
}
main .habit .section-title {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0px;
}
main .habit .section-description {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
.habit .img-container {
  display: flex;
  justify-content: space-between;
}
.habit .img-container .img {
  width: 21%;
}
.habit .img-container .img p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin-top: 2px;
}
.habit .img-container .img .img-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0px;
}
.habit .img-container .img img {
  margin: 0 auto;
  text-align: center;
  display: block;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
/* run an extra mile */
main .run-extra {
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .run-extra .section-info {
  width: 41%;
  padding-top: 40px;
  padding-left: 54px;
  padding-bottom: 40px;
}
main .run-extra .section-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin: 0px;
}
main .run-extra .section-description {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 34px;
}
main .run-extra .img-container {
  width: 366px;
  height: 312px;
  margin-right: 40px;
  background-image: url(../images/run2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
}
/* bmi-cal */
main .bmi-cal .section-info {
  width: 63%;
  margin: 0 auto;
  margin-bottom: 90px;
}
main .bmi-cal .bmi-calculator .bmi-chart .heading {
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 2px;
}
main .bmi-cal .bmi-calculator .bmi-chart table {
  border-collapse: collapse;
  width: 120%;
}
main .bmi-cal .bmi-calculator .bmi-chart table,
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  padding: 14px 20px;
}
main .bmi-cal .bmi-calculator .bmi-chart table .white {
  font-weight: 500;
}
main .bmi-cal .bmi-calculator .bmi-chart table td {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
main .bmi-cal .section-info .section-title {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 0;
}
main .bmi-cal .section-info .section-description {
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
main .bmi-cal .bmi-calculator {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}
main .bmi-cal .bmi-calculator .cal-input {
  width: 54%;
}
/* form */
main .bmi-cal .bmi-calculator .cal-input .section-heading {
  font-size: 1.6rem;
  color: white;
  font-weight: 900;
  line-height: 120%;
}
main .bmi-cal .bmi-calculator .cal-input .section-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
main .bmi-cal .bmi-calculator form input {
  width: 35%;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  margin-bottom: 12px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  border: none;
  margin-right: 10px;
}
main .bmi-cal .bmi-calculator form select {
  width: 46%;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
}
main .bmi-cal .bmi-calculator form select option {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
main .bmi-cal .bmi-calculator form .physical-activity {
  width: 94%;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 35px;
}
main .bmi-cal .bmi-calculator form button {
  margin-bottom: 50px;
}
/* team */
main .team .section-info {
  width: 61%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
main .team .team-member {
  border-radius: 18px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main .team .team-member .member {
  width: 30%;
  height: 272px;
  border-radius: 18px;
  position: relative;
}
main .team .team-member .member::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}
main .team .team-member .member .info .name {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
}
main .team .team-member .member .info .title {
  margin: 0;
  padding-top: 8px;
}
main .team .team-member .member .info {
  padding-left: 20px;
  position: absolute;
  top: 200px;
  color: white;
  width: 100%;
  z-index: 5;

  /* background-color: rgba(0, 0, 0, 0.5); */
}
main .team .team-member .one {
  background-image: url(../images/trainer1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}
main .team .team-member .two {
  background-image: url(../images/trainer2.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}
main .team .team-member .three {
  background-image: url(../images/trainer3.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}
main .team .team-member .four {
  background-image: url(../images/trainer4.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}
main .team .team-member .five {
  background-image: url(../images/trainer5.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}
main .team .team-member .six {
  background-image: url(../images/trainer6.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}
/* footer */
footer {
  background: rgb(34, 34, 34);
}
footer .content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
footer .section-info {
  width: 41%;
}
footer .section-info .title {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 70px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}
footer .section-info .description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
footer .get-started-1 .title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
footer .get-started-2 .title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
footer a {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
footer li {
  list-style: none;
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
}
footer ul {
  padding: 0;
}
footer .get-started-1 {
  width: 20%;
}
footer .get-started-2 {
  width: 20%;
}

footer .copyright {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  padding: 10px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .banner .banner-content {
    margin: 0 auto;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }

  .navbar {
    max-width: 350px;
    margin: 0 auto;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar .menu-bar {
    width: 24px;
    height: 24px;
  }
  .banner {
    flex-direction: column;
  }
  .banner .banner-content {
    max-width: 350px;
  }
  .banner .banner-content .banner-title {
    font-size: 3.5rem;
  }
  .banner .banner-img-container {
    width: 60%;
    background-size: contain;
    position: relative;
    left: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .banner .banner-content .btn {
    display: flex;
  }
  .banner .banner-content .btn .btn-primary {
  }
  .banner .hilight {
    width: 160px;
    position: relative;
    margin-right: 30px;
  }
  .banner .hilight p {
    font-size: 0.6rem;
  }
  .banner .hilight h3 {
    font-size: 1.5rem;
  }
  .banner .lowlight {
    width: 140px;
  }
  main .habit .section-info {
    width: 90%;
    margin: 0 auto;
  }
  main .habit .section-info .section-title {
    font-size: 2.72rem;
  }
  main .habit .section-info .section-description {
    font-size: 0.75rem;
  }
  main .habit .img-container {
    flex-direction: column;
  }
  main .habit .img-container .img {
    width: 56%;
    margin: 0 auto;
    margin-top: 30px;
  }
  main .run-extra {
    flex-direction: column;
    margin: 0 auto;
  }
  main .run-extra .section-info {
    width: 85%;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  main .run-extra .img-container {
    margin-right: 0px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  main .run-extra .img-container {
    width: 85%;
    height: 259px;
  }
  main .run-extra .section-info button {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  main .bmi-cal {
    width: 95%;
    margin: 0 auto;
  }
  main .bmi-cal .section-info {
    width: 90%;
    margin: 0 auto;
  }
  main .bmi-cal .section-info .section-title {
    font-size: 2rem;
  }
  main .bmi-cal .bmi-calculator {
    flex-direction: column;
  }
  main .bmi-cal .bmi-calculator .bmi-chart {
    width: 80%;
    margin: 0 auto;
    margin-left: 0;
  }
  main .bmi-cal .bmi-calculator .bmi-chart .heading {
  }
  main .bmi-cal .bmi-calculator .bmi-chart table {
    font-size: 22px;
  }
  main .bmi-cal .bmi-calculator .cal-input {
    width: 90%;
    margin: 0 auto;
  }
  main .bmi-cal .bmi-calculator .cal-input form input {
    width: 80%;
  }
  #sex {
    width: 97%;
    margin-bottom: 12px;
  }
  main .bmi-cal .bmi-calculator form .physical-activity {
    width: 97%;
  }
  /* team */
  main .team .team-member {
    border-radius: 18px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  main .team .section-info {
    width: 85%;
  }
  .section-title {
    font-size: 2rem;
  }
  main .bmi-cal .section-info .section-title {
    margin-top: 40px;
  }
  footer .content {
    flex-direction: column;
  }
  footer {
    width: 85%;
    margin: 0;
  }
  footer .content {
    width: 90%;
  }
  footer .copyright {
    width: 80%;
    margin: 0 auto;
  }
  footer .section-info {
    width: 91%;
  }
  footer .get-started-1 {
    width: 80%;
  }
  footer .get-started-2 {
    width: 80%;
  }
}
