@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style  */
body{
    width: 1440px;
    margin: 0 auto;
    background-color: black;
}
.btn-primary{
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    margin-right: 14px;
}
.btn-secondary {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    background-color: black;
}
.flex {
    display: flex;
}
.dark02 {
    color: rgba(255, 255, 255, 0.5);
}
/* Header section  */ 
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.navbar {
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    align-items: center;
}
.brand {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.navbar .link-item {
    list-style: none;
    margin-right: 47px;
}
.navbar .link {
    text-decoration: none;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    line-height: 120%;
    padding: 8px 20px;
}
.navbar .link:hover{
    border-radius: 46px;

    background: rgb(230, 83, 60);
}
/* banner  */
.banner {
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
}
.banner-content {
    max-width: 520px;
}

.banner-content .banner-title, .video {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-top: 96px;
    margin-bottom: 0px;
}
.banner-content .banner-title .special {
    font-style: italic;
}
.banner .banner-img-container {
    width: 450px;
    height: 580px;
    background-image: url("../images/Images\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
   
    display: flex;

    flex-direction: row-reverse;
    
}
.banner-content .banner-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin: 28px 0;
}
.banner .hilight{
    color: rgb(255, 255, 255);
    width: 193px;
    height: 98px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: relative;
    top: 150px;
    left: 50px;
    backdrop-filter: blur(10px);

    
}
.banner .hilight h3 {
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    letter-spacing: 1px;
    padding: 17px 53px 5px 30px;
    margin: 0;
}
.banner .hilight p{
    
    margin: 0;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: .89rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding-left: 30px;
    
}
.banner .lowlight{
    
    position: relative;
    top: 400px;
    right: 110px;
    width: 200px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    gap: 15px;
    backdrop-filter: blur(10px);
    
}
.banner .lowlight i{
    color: rgb(230, 83, 60);
    font-size: 30px;
    margin: auto 0;
    padding-left: 25px;
    
}
.banner .lowlight .title h3{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0;
}
.banner .lowlight .title p{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 0;
}